[submodule "glosarium-react"]
	path = glosarium-react
	url = git@github.com:helmizu/glosarium_react.git
[submodule "DashboardGlosarium"]
	path = DashboardGlosarium
	url = git@github.com:helmizu/Dashboard_Glosarium.git
[submodule "GlosariumAPI"]
	path = GlosariumAPI
	url = git@github.com:helmizu/Glosarium_API.git
